{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Trace",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },

  "ConnectionStrings": {
    "MSSQL": "Server=.;Database=Statistics;Trusted_Connection=True;"
  },

  "StorageOptions": {
    "Uploads": "Uploads"
  },

  "AllowedHosts": "*"
}